.main{
  width:80%;
  height:100%;
  padding:10px;
  background-color:#DEDFE0;
}
.sidebar{
  float:right;
  position:relative;
  z-index:1000;
  width:20%;
  height:100%;
  background-color:#9C895D;
  -webkit-box-shadow: inset 1px -1px 6px 1px #444;
     -moz-box-shadow: inset 1px -1px 6px 1px #444;
          box-shadow: inset 1px -1px 6px 1px #444;
}
