<template name="chef">
  <div class="chef-sidebar">
    <h1>{{currentUser.username}}</h1>
    <p>Integrity: {{currentUser.profile.integrity}}</p>
  </div>

  <div class="chef-main">
    {{#each orders}}
      {{#if open _id}}
      <div class="open-order">
        <div class="order-actions">
          <input type="button" data-id="{{_id}}" value="Take it" class="accept"/>
          <input type="button" data-id="{{_id}}" value="Skip it" class="remove"/>
        </div>
        <div class="order-info">
          {{details.food}}<br>
          {{details.type}}<br>
          ${{details.price}}.00
        </div>
      </div>
      {{/if}}
    {{/each}}
  </div>

</template>
