<template name="landing">
  <div class='hungry-half'>
    <p class='landing-welcome'>I'm Hungry</p>

    <div class='landing-action' style="display:none">
      <input type="button" value="Sign up"/>
      <input type="button" value="Login"/>
      <input type="button" value="No Account"/>
    </div>
  </div>
  <div class='chef-half'>
    <p class='landing-welcome'>Le Chef</p>

    <div class='landing-action' style="display:none">
      <input type="button" value="Sign up"/>
      <input type="button" value="Login"/>
    </div>
  </div>
</template>
