<template name="hungryorders">
  <div class="main-col-left">
    New Orders
    <ul>
      {{#each new_orders}}
        <li>
          <a class="order-link" id="{{_id}}" href="#">{{details.food}}</a>
          <div class="hungry-order-info hide">
            <p class="chef-name"><strong>Chef Name: </strong>--</p>
          </div>
        </li>
      {{/each}}
    </ul>
    <a href="#" id="show-expired">Expired Orders</a>
    <ul id="expired-list" class="hide">
      {{#each dead_orders}}
        <li>
          <a class="order-link" id="{{_id}}" href="#">{{details.food}}</a>
          <div class="hungry-order-info hide">
            <p class="chef-name"><strong>Chef Name: </strong>--</p>
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
  <ul class="main-col-mid">
    In Progress Orders
    {{#each started_orders}}
      <li>
        <a class="order-link" id="{{_id}}" href="#">{{details.food}}</a>
        <div class="hungry-order-info hide">
          <p class="chef-name"><strong>Chef Name: </strong>{{chef_name _id}}</p>
        </div>
      </li>
    {{/each}}
  </ul>
  <ul class="main-col-right">
    Orders to Rate
    {{#each delivered_orders}}
      <li>
        <a class="order-link" id="{{_id}}" href="#">{{details.food}}</a>
        <div class="hungry-order-info hide">
          <p class="chef-name"><strong>Chef Name: </strong>{{chef_name _id}}</p>
        </div>
      </li>
    {{/each}}
  </ul>
  <input type="button" value="New Order" id="new-order" style="float:right" class="btn"/>
</template>
