<template name="landing">
  <div class='hungry-half'>
    <div class='landing-spacer'></div>
    <p class='landing-welcome'>I'm Hungry</p>

    <div class='landing-action'>
      {{#if hungry}}
        {{> hungryaction}}
      {{/if}}
    </div>
  </div>
  <div class='chef-half'>
    <div class='landing-spacer'></div>
    <p class='landing-welcome'>Le Chef</p>

    <div class='landing-action'>
      {{#if chef}}
        {{> chefaction}}
      {{/if}}
    </div>
  </div>
</template>

<template name="hungryaction">
  {{#if action}}
    <input type="button" value="Sign up" id="hungry-signup"/>
    <input type="button" value="Login" id="hungry-login"/>
    <input type="button" value="No Account" id="hungry-noacct"/>
  {{/if}}
  {{#if up}}
    {{> signup}}
  {{/if}}
  {{#if lin}}
    {{> login}}
  {{/if}}
</template>

<template name="chefaction">
  {{#if action}}
    <input type="button" value="Sign up" id="chef-signup"/>
    <input type="button" value="Login" id="chef-login"/>
  {{else}}
    <p>Unsupported right now.</p>
  {{/if}}
</template>

<template name="signup">
  <p>Email or Name:</p>
  <input type="text" id="username" value=""/>
  <p>Password:</p>
  <input type="password" id="password" value=""/>
  <p>Password Confirmation:</p>
  <input type="password" id="passwordconf" value=""/>
  <input id="signup" type="submit" value="Sign up"/>
</template>

<template name="login">
    <p>Email or Name:</p>
    <input type="text" id="username" value=""/>
    <p>Password:</p>
    <input type="password" id="password" value=""/>
    <input id="login" type="submit" value="Login"/>
</template>
