<template name="need_to_rate">
  <ul>
    {{#if currentUser.profile.hungry}}
      {{#each delivered_orders}}
        <li>
          <a class="order-link rate-link" id="{{_id}}" href="#">{{details.food}}</a>
          <div class="order-info2 hide">
            <p class="chef-name"><strong>Chef Name: </strong>{{chef_name _id}}</p>
          </div>
          {{> rate_modal}}
        </li>
      {{/each}}
    {{else}}
      {{#each rated_orders}}
        <li>
          <a class="rate-link" id="{{_id}}" href="#">{{customer_name _id}} with a {{details.food}}</a>
          {{> chef_rate_modal}}
        </li>
      {{/each}}
    {{/if}}
  </ul>
</template>
