<template name="orderform">
  <div class='orderform'>
    <select class='big-select' id='order1'>
      <option value=""></option>
      <option value="sandwich">a sandwich</option>
      <option value="pizza">a pizza</option>
      <option value="meal">a home-cooked meal</option>
      <option value="weird">something weird</option>
    </select>
    <div id="order2">
      <p class="order-label">Which I</p>
      <select class='big-select'>
        <option value="delivery">want delivered</option>
        <option value="pickup">will go get</option>
      </select>
    </div>
  </div>

</template>
