<template name="orderform">
  <span class="food-odds tooltip" data-tip="Likelyhood your order will be filled successfully">{{odds}}%</span>
  <div class='orderform'>
    <select class='big-select' id='order1' data-name="food" data-spot="1">
      <option value=""></option>
      <option value="sandwich">a sandwich</option>
      <option value="pizza">a pizza</option>
      <option value="meal">a home-cooked meal</option>
      <option value="chinese">some Chinese food</option>
      <option value="mexican">some Mexican food</option>
      <option value="italian">some Italian food</option>
      <option value="weird">something weird</option>
    </select>
    <div id="order2">
      <p class="order-label">Which I</p>
      <select class='big-select' data-spot="2" data-name="type">
        <option value=""></option>
        <option value="delivery">want delivered</option>
        <option value="pickup">will go get</option>
      </select>
    </div>
    <div id="order3">
      <p class="order-label">
        {{#if delivery}}
          to
        {{else}}
          from
        {{/if}}
      </p>
      <p>Address:</p>
      <input type="text" id="address" data-spot="3" data-name="address"/>
      <button id="show-map">Check</button>
      <div id="map-canvas" class="tooltip" data-tip="Is this where you're at?"/>
    </div>
    <div id="order4">
      <p class="order-label">within</p>
      <select class="small-select tooltip" id="minutes" data-spot="4" data-name="minutes" data-tip="This is how long chefs have to accept your order--they may take longer to actually fill the order">
        <option value=""></option>
        <option value="5">5 min</option>
        <option value="10">10 min</option>
        <option value="20">20 min</option>
        <option value="30">30 min</option>
        <option value="60">1 hr</option>
        <option value="120">2 hr</option>
      </select>
    </div>
    <div id="order5">
      <p class="order-label">And I'll pay</p>
      <div class="cntr-30p">
        <p class="txt-center">$<input type="number" id="price" data-spot="5" data-name="price"/>.00 for it.</p>
      </div>
    </div>
    <div id="order6">
      <p class="order-label">More specifically, I want:</p>
      <textarea class="cntr-30p" id="specifics" data-spot="6" data-name="specifics" rows="4" cols="40" placeholder="The specific details about your food. Ex: no pickles, and toast it."></textarea>
    </div>
    <input type="submit" class="btn" id="submit" value="Go!"/>
  </div>
</template>
