<template name="orderform">
  <span class="">Chance to get your food: {{odds}}%</span>
  <div class='orderform'>
    <select class='big-select' id='order1' data-name="food" data-spot="1">
      <option value=""></option>
      <option value="sandwich">a sandwich</option>
      <option value="pizza">a pizza</option>
      <option value="meal">a home-cooked meal</option>
      <option value="weird">something weird</option>
    </select>
    <div id="order2">
      <p class="order-label">Which I</p>
      <select class='big-select' data-spot="2" data-name="type">
        <option value=""></option>
        <option value="delivery">want delivered</option>
        <option value="pickup">will go get</option>
      </select>
    </div>
    <div id="order3">
      <p class="order-label" style="margin-left:0">
        {{#if delivery}}
          to
        {{else}}
          from
        {{/if}}
      </p>
      Address:
      <input type="text" id="address" data-spot="3" data-name="address"/>
      <br>
      Zip:
      <input type="text" id="zip" data-spot="3" data-name="zip"/>
      <br>
      City:
      <input type="text" id="city" data-spot="3" data-name="city"/>
      <br>
      State:
      <input type="text" id="state" data-spot="3" data-name="state"/>
      <br>
      Country:
      <input type="text" id="country" data-spot="3" data-name="country"/>
    </div>
    <div id="order4">
      <p class="order-label">within</p>
      <p class="cntr-30p"><input type="number" id="minutes" data-spot="4" data-name="minutes"/>minutes</p>
    </div>
    <div id="order5">
      <p class="order-label">And I'll pay</p>
      <p class="cntr-30p">$<input type="number" id="price" data-spot="5" data-name="price"/>.00 for it.</p>
    </div>
    <div id="order6">
      <p class="order-label">More specifically, I want:</p>
      <textarea class="cntr-30p" id="specifics" data-spot="6" data-name="specifics" rows="4" cols="40" placeholder="The specific details about your food. Ex: no pickles, and toast it."></textarea>
    </div>
    <input type="submit" id="submit" value="Go!"/>
  </div>

</template>
