<template name="rate_modal">
  <div class="rate-modal hide">
    <h1>Rate this food experience:</h1>
    <textarea rows="3" cols="30" placeholder="Ex: This was the best food I have ever eaten!"></textarea>
    <div class="five-star-container">
      <div data-starnum="1" class="star star-off" title="Terrible"></div>
      <div data-starnum="2" class="star star-off" title="Bad"></div>
      <div data-starnum="3" class="star star-off" title="Okay"></div>
      <div data-starnum="4" class="star star-off" title="Good"></div>
      <div data-starnum="5" class="star star-off" title="Amazing"></div>
    </div>
  </div>
</template>
<template name="chef_rate_modal">
  <div class="rate-modal hide">
    <h1>Rate this customer:</h1>
    <textarea rows="3" cols="30" placeholder="Ex: This guy was the nicest guy ever!"></textarea>
    <div class="five-star-container">
      <div data-starnum="1" class="star star-off" title="Terrible"></div>
      <div data-starnum="2" class="star star-off" title="Bad"></div>
      <div data-starnum="3" class="star star-off" title="Okay"></div>
      <div data-starnum="4" class="star star-off" title="Good"></div>
      <div data-starnum="5" class="star star-off" title="Amazing"></div>
    </div>
  </div>
</template>
